<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">My little to do app!</h1>
    <h2 class="text-center">GROUP 5a</h2>


    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl" ng-init="count()">
      <h3  ng-model="counter">Counter: {{counter}}</h3>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addItem()">
              Add
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->

        <div>
          <select ng-model="newPri" ng-options="item for item in priorities">
            <option value="">-- choose priority --</option>
          </select>
        </div>

      <h2>stuff i gotta do asap</h2>

      <ul class="list-group">
        <!-- http://www.w3schools.com/css/css_float.asp -->


        <li class="list-group-item clearfix" ng-repeat="do in todos.entries">

          <span>{{do.name}}</span>
          <span style="background-color: orange; border-radius: 2px; font-size: 10px;">{{do.pri}}</span>

          <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem(do)">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>
                    <button class="btn btn-danger pull-right" type="button" ng-click="complete(do)">
            <span aria-hidden="true"></span>Complete</button>

          <button class="btn btn-primary pull-right" type="button" ng-click="editItem(do)">
            <span class="glyphicon glyphicon-edit " aria-hidden="true"></span>
          </button>

        </li>
      </ul>

      <!--edit section-->
      <h2>Edit</h2>
      <input type="text" class="form-control" placeholder="Enter description here then press the edit. Cannot have duplicates." ng-model="edit">

      <div>
        <button class="btn btn-danger pull-right" type="button" ng-click="clearCompletedItems()">
          <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          Clear Completed Tasks
        </button>
        <!--end of clear button-->
      </div>
    </div>
<!--end of to div-->
  </body>

</html>
